<form method="post" action='/recipes'>
<h2>Recipes</h2>
<h3>Name: <input type="text" name="recipe[name]"><br></h3>
<h4>Ingredients: <input type="text" name="recipe[ingredients]"></h2>
<h4>Cook Type: <input type="text" name="recipe[cook_time]"></h2>
<input type="submit" value="submit">
</form>