<h1>Create a new recipe</h1>

<a href="/">Go back</a>

<form action="/recipes" method="post">
<div>
    <label for="">Name:</label>
    <input type="text" name="name" />
</div>
<div>
    <label for="">Ingredients:</label>
    <input type="text" name="ingredients" />
</div>
<div>
    <label for="">Cook time:</label>
    <input type="text" name="cook_time" />
</div>

<input type="submit" value="Create new Recipe" />
</form>