<h1>Create a new Recipe</h1>

<form action="/recipes" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Ingredients:</label>
        <input type="text" name="ingredients" />
    </div>
    <div>
        <label>Cook Time:</label>
        <input type="text" name="cook_time" />
    </div>
    <input type="submit" value="Submit">
</form>

<p><a href="/recipes">Go back</a></p>


