<h1>Please enter a new recipe</h1>
<form method="POST" action="/new">

<p>
<label>What's your recipe called?</label>
<input id="recipe_name" type="text" name="recipe[name]">
</p>

<p>
<label>What ingredients does it have?</label>
<input id="recipe_ingredients" type="text" name="recipe[ingredients]">
</p>

<p>
<label>How many minutes do you cook it for?</label>
<input id="recipe_cook_time" type="text" name="recipe[cook_time]">
</p>

<button type="submit" value="Submit">Submit</button>
