<h1> Welcome to Lauren's Recipe Book </h1>
<h3> Please use the links below to navigate your way... </h3>
<a href="/recipes"> View all Recipes! </a>
<br>
<a href="/recipes/new"> Create a new recipe! </a>
<br>
<a href="/recipes/:id/edit"> Edit a recipe! </a>
<br>
<a href="recipes/:id/delete"> Delete a recipe! </a>
